<div class="login">
    <h2 class="login-header">INICIAR SESIÓN</h2>
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="submitLogin()">
      <input type="name" placeholder="Username/Email*" formControlName="name" />
      <ng-container
        *ngIf="!formControls.name.valid &&formControls.name.touched"
      >
        <p *ngIf="formControls.name.errors.required">
          Name/email is required
        </p>
      </ng-container>
  
      <input type="password" placeholder="Password*" formControlName="password" />
      <ng-container
        *ngIf="!formControls.password.valid &&formControls.password.touched"
      >
        <p *ngIf="formControls.password.errors.required">
          Password is required
        </p>
      </ng-container>
  
      <p>
        <input type="submit" value="Submit" [disabled]="loginForm.invalid" />
      </p>
    </form>
</div>

<div style="text-align: center;">
  <button (click)="loginGoogle()" class="button">INICIA SESIÓN CON GOOGLE</button>
</div>
<div style="text-align: center;">
  <button (click)="loginFacebook()" class="button">INICIA SESIÓN CON FACEBOOK</button>
</div>
<div style="text-align: center;">
  <button (click)="loginTwitter()" class="button">INICIA SESIÓN CON TWITTER</button>
</div>
