<div class="register">
    <h2 class="register-header">REGÍSTRATE</h2>
    <form [formGroup]="registerForm" class="register-container" (ngSubmit)="submitRegister()">
      <input type="username" placeholder="Nombre de usuario*" formControlName="username" />
      <ng-container
        *ngIf="!formControls.username.valid &&formControls.username.touched"
      >
        <p *ngIf="formControls.username.errors.required">
          Nombre de usuario obligatorio
        </p>
      </ng-container>
      
      <input type="name" placeholder="Nombre completo*" formControlName="name" />
      <ng-container
        *ngIf="!formControls.name.valid &&formControls.name.touched"
      >
        <p *ngIf="formControls.name.errors.required">
          Nombre completo obligatorio
        </p>
      </ng-container>
  
      <input type="email" placeholder="Email*" formControlName="email" />
      <ng-container
        *ngIf="!formControls.email.valid && formControls.email.touched"
      >
        <p *ngIf="formControls.email.errors.required">
          Email obligatorio
        </p>
        <p *ngIf="formControls.email.errors.email">
          Por favor, introduce un email válido
        </p>
      </ng-container>
  
      <input type="password" placeholder="Contraseña*" formControlName="password" />
      <ng-container
        *ngIf="!formControls.password.valid && formControls.password.touched"
      >
        <p *ngIf="formControls.password.errors.required">
          Contraseña obligatoria
        </p>
      </ng-container>

      <input type="password" placeholder="Confirma contraseña*" formControlName="confirmPassword" />
      <ng-container
        *ngIf="!formControls.confirmPassword.valid && formControls.confirmPassword.touched"
      >
        <p *ngIf="formControls.confirmPassword.errors.required">
          Por favor, introduce otra vez la contraseña
        </p>
      </ng-container>
      <ng-container *ngIf="this.registerForm.hasError('notSame') && formControls.confirmPassword.touched">
        <p>
          Las contraseñas no coinciden
        </p>
      </ng-container>
      
  
      <p>
        <input type="submit" value="Submit" [disabled]="registerForm.invalid" />
      </p>
    </form>
</div>

<div style="text-align: center;">
  <button (click)="registerGoogle()" class="button">REGÍSTRATE CON GOOGLE</button>
</div>
<div style="text-align: center;">
  <button (click)="registerFacebook()" class="button">REGÍSTRATE CON FACEBOOK</button>
</div>
<div style="text-align: center;">
  <button (click)="registerTwitter()" class="button">REGÍSTRATE CON TWITTER</button>
</div>